# Media files that should not be tracked
# Video Files
*.mp4
*.mj2
*.wmv
*.avi
# Images
*.jpg
*.jpeg
*.tiffmatlab
*.png
*.bmp
*.svg
# Plots
*.fig

# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace